@model CategoryViewModel

<style>
    .categoryBox{
        height: 15rem;
        border-radius: 10px;
        border: 1px solid #ddd;
        max-width: 24%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .sideBox{
        height: 15rem;
        border-radius: 10px;
        border: 1px solid #ddd;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .sideBoxContainer{
        max-width: 24%;
    }

    .propertyBox {
        height: 15rem;
        border-radius: 10px;
        border: 1px solid #ddd
    }

</style>

<a class="btn btn-primary">Add Category</a>

<div class="container">
    <div class="row my-3 d-flex justify-content-between">
        @for (int i = 0; i < 4 && i < Model.Categories.Count(); i++)
        {
            <div class="col-lg-3 categoryBox"><h4>@Model.Categories.ElementAt(i).Category.CategoryName</h4></div>
        }
    </div>
    
    <div class="row my-3 d-flex justify-content-between">
        <div class="col-lg-3 p-0 sideBoxContainer">
            
                @if (Model.Categories.Count() > 4)
                {<div class="sideBox px-2 mb-2">
                    <h4>@Model.Categories.ElementAt(4).Category.CategoryName</h4>
                </div>
                }
            
                @if (Model.Categories.Count() > 5)
                { 
                    <div class="sideBox px-2">
                    <h4>@Model.Categories.ElementAt(5).Category.CategoryName</h4>
                    </div>
                }
        </div>
        <div class="col-lg-6 d-flex justify-content-center align-items-center">
            <div class="w-100 h-auto propertyBox">
                <img src="@Model.PropertyImageUrl" class="img-fluid" alt="Property Image" />
            </div>
        </div>
        <div class="col-lg-3 p-0 sideBoxContainer">
            
                @if (Model.Categories.Count() > 6)
                {
                    <div class="sideBox px-2 mb-2">
                    <h4>@Model.Categories.ElementAt(6).Category.CategoryName</h4>
                    </div>
                }
            
            
                @if (Model.Categories.Count() > 7)
                {
                    <div class="sideBox px-2">
                    <h4>@Model.Categories.ElementAt(7).Category.CategoryName</h4>
                    </div>
                }
        </div>
    </div>
    <div class="row my-3 d-flex justify-content-between">
        @for (int i = 8; i < Model.Categories.Count(); i++)
        {
            <div class="col-lg-3 categoryBox"><h4>@Model.Categories.ElementAt(i).Category.CategoryName</h4></div>
        }
    </div>
</div>
