@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<style>
    /*--------Sign In---------*/
    #sign-in {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px; 
    }
    #sign-in h1, h3{
        margin: 25px 0;
    }
    .sign-in-container {
        width: 100%;
        max-width: 480px; 
        padding: 20px;
    }

    .sign-in-container h1, h2 {
        text-align: center;
s    }

    .sign-in-form {
        background: #fff; 
        padding: 30px;
        border-radius: 8px; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 100%;
    }

    .sign-in-form h1 {
        margin-bottom: 25px;
        text-align: center;
    }

    .sign-in-form p {
        margin: 10px 0;
        font-size: 14px; 
    }

    .sign-in-form input
     {
        width: 100%;
        border: 0;
        outline: none;
        padding: 12px; 
        margin: 8px 0;
        font-size: 14px; 
        border-radius: 6px;
    }

    .sign-in-form a {
        text-decoration: underline;
        color: #007bff; 
        margin:  25px 0;
    }

    .sign-in-form input {
        background: #f0f0f0; 
        color: #333; 
    }

    #login-submit, #btn-register {
        width:100%;
        background: #000; 
        color: #fff; 
        cursor: pointer;
        font-size: 16px;
        padding: 12px; 
        margin: 25px 0;
        transition: background 0.3s;
    }

    #login-submit:hover , #btn-register:hover{
        background: #333;
    }

</style>

<section id="sign-in">
    <div class="sign-in-container mt-5">
        <h1>Building Management Canvas</h1>
        <div class="sign-in-form">
            <h2>Log In</h2>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <h4>Email</h4>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>

                <h4>Password</h4>
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>

                <button id="login-submit" type="submit">Log In</button>

                <a asp-page="./ForgotPassword">Forgot Password?</a>
                <p>Don't have an account?</p>
                       

<button id="btn-register" type="button" onclick="window.location.href='@Url.Page("./Register", new { returnUrl = Model.ReturnUrl })'">Register</button>
            </form>
            <div>
                <section>
                    <h3>Use another service to log in.</h3>
                    <hr />
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                                    <div>
                                        <p>
                                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                                article
                                                about setting up this ASP.NET application to support logging in via external services
                                            </a>.
                                        </p>
                                    </div>
                        }
                        else
                        {
                            /*External login options Google, Facebook, Twitter */

                         <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
    <div>
        <p>
            @foreach (var provider in Model.ExternalLogins)
            {
                <button type="submit" class="btn btn-primary btn-md" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                    @if (provider.Name.ToLower() == "facebook")
                    {
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
                        </svg>
                    }
                    else if (provider.Name.ToLower() == "google")
                    {
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                            <path d="M8.16 0c1.78 0 3.17.63 4.27 1.5l-1.72 1.72C9.9 2.56 9.06 2.3 8.16 2.3 6.03 2.3 4.26 4.13 4.26 6.25s1.77 3.95 3.9 3.95c1.63 0 2.68-.77 3.16-1.94H8.16V7.25h5.57c.13.53.22 1.08.22 1.7 0 3.54-2.35 6.05-5.79 6.05C3.77 15 0 11.23 0 6.25S3.77 0 8.16 0z"/>
                        </svg>
                    }
                    else if (provider.Name.ToLower() == "twitter")
                    {
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                            <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.01-.422A6.677 6.677 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.303 3.303 0 0 0 1.447-1.817 6.573 6.573 0 0 1-2.084.797A3.286 3.286 0 0 0 7.875 7.029a9.325 9.325 0 0 1-6.767-3.429A3.289 3.289 0 0 0 2.292 7.23a3.271 3.271 0 0 1-1.486-.41v.041a3.283 3.283 0 0 0 2.63 3.217 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.615-.057 3.283 3.283 0 0 0 3.066 2.279A6.587 6.587 0 0 1 0 13.026 9.29 9.29 0 0 0 5.026 15z"/>
                        </svg>
                    }
                    @provider.DisplayName
                </button>
            }
        </p>
    </div>
</form>


                                   
                        }
                    }
                </section>
            </div>
        </div>
    </div>
</section>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}
