@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<style>
    /*--------Sign In---------*/
    #sign-in {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px; 
    }
    #sign-in h1, h3{
        margin: 25px 0;
    }
    .sign-in-container {
        width: 100%;
        max-width: 480px; 
        padding: 20px;
    }

    .sign-in-container h1, h2 {
        text-align: center;
    }

    .sign-in-form {
        padding: 30px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.3);
        width: 100%;
    }

    .sign-in-form h1 {
        margin-bottom: 25px;
        text-align: center;
    }

    .sign-in-form p {
        margin: 10px 0;
        font-size: 14px; 
    }

    .sign-in-form input
     {
        width: 100%;
        outline: none;
        padding: 12px; 
        margin: 8px 0;
        font-size: 14px; 
        border-radius: 6px;
    }

    .sign-in-form a {
        text-decoration: underline;
        color: #007bff; 
        margin:  25px 0;
    }

    .sign-in-form input {
       
        color: #333; 
    }

    #login-submit, #btn-register {
        width:100%;
        background: #000; 
        color: #fff; 
        cursor: pointer;
        font-size: 16px;
        padding: 12px; 
        margin: 25px 0;
        transition: background 0.3s;
    }

    #login-submit:hover , #btn-register:hover{
        background: #333;
    }

</style>

<section id="sign-in">
    <div class="sign-in-container mt-5">
        <h1 class="text-light">Building Management Canvas</h1>
        <div class="sign-in-form">
            <h2>Log In</h2>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-warning"></div>

                <h4>Email</h4>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-warning"></span>

                <h4>Password</h4>
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-warning"></span>

                <button id="login-submit" type="submit">Log In</button>

                <a class="text-info" asp-page="./ForgotPassword">Forgot Password?</a>
                <p>Don't have an account?</p>
                       

<button id="btn-register" type="button" onclick="window.location.href='@Url.Page("./Register", new { returnUrl = Model.ReturnUrl })'">Register</button>
            </form>
            <div>
                <section>
                    <h3>Use another service to log in.</h3>
                    <hr />
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                        article
                                        about setting up this ASP.NET application to support logging in via external services
                                    </a>.
                                </p>
                            </div>
                        }
                        else
                        {
                          
                            var googleProvider = Model.ExternalLogins.FirstOrDefault(p => p.Name.ToLower() == "google");

                            if (googleProvider != null)
                            {
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div>
                                        <p>
                                            <button type="submit" class="btn btn-primary btn-md" name="provider" value="@googleProvider.Name" title="Log in using your @googleProvider.DisplayName account">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                                                    <path d="M8.16 0c1.78 0 3.17.63 4.27 1.5l-1.72 1.72C9.9 2.56 9.06 2.3 8.16 2.3 6.03 2.3 4.26 4.13 4.26 6.25s1.77 3.95 3.9 3.95c1.63 0 2.68-.77 3.16-1.94H8.16V7.25h5.57c.13.53.22 1.08.22 1.7 0 3.54-2.35 6.05-5.79 6.05C3.77 15 0 11.23 0 6.25S3.77 0 8.16 0z" />
                                                </svg>
                                                @googleProvider.DisplayName
                                            </button>
                                        </p>
                                    </div>
                                </form>
                            }
                        }
                    }
                </section>

            </div>
        </div>
    </div>
</section>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}
